.image-wrapper {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
  
}


.overlay-box {
  opacity: 0;
  transform: translateY(8px);
  transition: opacity 0.4s ease, transform 0.4s ease;
}

.overlay-visible {
  opacity: 1;
  transform: translateY(0);
}

.overlay-box {
  position: absolute;
  pointer-events: none;
}

